<div *ngIf="fundingPackage" class="container-fluid">
	<div *ngIf="title" class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				{{title}}
			</h2>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Home</a>
				</li>
				<li class="active">
					<i class="fa fa-profile"></i> {{title}}
				</li>
			</ol>
		</div>
	</div>
	<div *ngIf="fundingPackage">
		<div class="col-lg-12 jumbotron card card-block">
			<h3>Project Title: {{fundingPackage.ProjectTitle}}</h3>
			
			<br/>
			
			<h4>Project Description: {{fundingPackage.ProjectDescription}}</h4>
			
			<hr/>
			
			<strong>Funding Package Chosen: {{fundingPackage.Title}}</strong>
			
			<hr/>
			
			<strong *ngIf="!isDonationPackage">Funding Package Reward: {{fundingPackage.ProjectDescription}}<br/><br/></strong>
			
			<fieldset *ngIf="isDonationPackage" class="form-group" [ngClass]="{ 'has-error': !amountbox.valid }">
			
				<label for="amountbox">Amount to donate in <i class="fa fa-euro"></i> (*)</label>
			
				<input 
					type="text" class="form-control input-underline input-lg" 
					name="amountbox" id="amountbox" placeholder="Enter Amount to donate..."
					#amountbox type="text" [(ngModel)]="donationAmount" required>
				
			</fieldset>
			<hr/>
			
			<span *ngIf="isDonationPackage && donationAmount">
				You are going to pay {{donationAmount}} <i class="fa fa-euro"></i>
			</span>
			
			<span *ngIf="!isDonationPackage">
				You are going to pay {{fundingPackage.PledgeAmount}} <i class="fa fa-euro"></i>
			</span>
			
		</div>
	</div>
	<hr/>
	<a href="javascript:void(0)" [routerLink]="['/dashboard/projects/view', fundingPackage.ProjectId]">Back to Project Profile Page</a>
</div>