<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Create Project Update
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-create"></i> Create Project Update
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

            <form name="form" (ngSubmit)="createProjectUpdate()" role="form" #createProjectUpdateForm="ngForm" novalidate>

                <fieldset class="form-group" [ngClass]="{ 'has-error': createProjectUpdateForm.submitted && !title.valid }">
                    <label for="title">Title (*)</label>
                    <input type="text" class="form-control input-underline input-lg" 
                        name="title" id="title" placeholder="Enter Project Update Title..."
                        required [(ngModel)]="projectUpdate.Title"
                        #title="ngModel">
                    <div [hidden]="title.valid || title.pristine" class="error">
                        Project Update Title is required!
                    </div>
                </fieldset>
                
                <fieldset class="form-group" [ngClass]="{ 'has-error': createProjectUpdateForm.submitted && !description.valid }">
                    <label for="description">Description (*)</label>
                    <textarea class="form-control input-underline input-lg" 
                        name="description" id="description" placeholder="Enter Project Update Description..."
                        required [(ngModel)]="projectUpdate.Description" rows="6"
                        #description="ngModel"></textarea>
                    <div [hidden]="description.valid || description.pristine" class="error">
                        Project Update Description is required!
                    </div>
                </fieldset>
				
                <button *ngIf="!loading" class="btn btn-primary" type="submit" [disabled]= "!createProjectUpdateForm.form.valid">Create Project Update</button>
				<span *ngIf="loading">
					<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Creating Project Update...
				</span>
                
            </form>

        </div>
    </div>
    <br/><br/>
    <a [routerLink]="['/dashboard/projects/view', projectId]">Back to View Project</a>
    <!-- /.row -->
</div>