<h1>Project Profile Page</h1>
<div class="container-fluid">
	<div class="row">
		<div class="jumbotron" *ngIf="project">
			<a *ngIf="isRequestorProjectCreator"  [routerLink]="['/dashboard/projects/edit', project.Id]">Edit Project</a>
			<h1>{{project.Title}}</h1>
			<p>{{project.Description}}</p>
			<p>Created on: {{project.CreatedDate | amDateFormat:'LL'}}</p>
			<p>Updated on: {{project.UpdatedDate | amDateFormat:'LL'}}</p>
			<p>Funding Goal: {{project.FundingGoal}}</p>
			<p>Funding End Date: {{project.FundingEndDate | amDateFormat:'LL'}}</p>
			<p>Project Owner: <a [routerLink]="['/dashboard/user/viewProfile', project.OwnerId]">{{project.OwnerName}}</a></p>
			<p>Project Category: {{project.ProjectCategoryDesc}}</p>
		</div>
	</div>
</div>	