<div *ngIf="title" class="row">
	<div class="col-lg-12">
		<h2 class="page-header">
			{{title}}
		</h2>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Home</a>
			</li>
			<li class="active">
				<i class="fa fa-profile"></i> {{title}}
			</li>
		</ol>
	</div>
</div>
<div *ngFor="let project of projects">
	<div class="col-lg-12 jumbotron card card-block">
		<h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
		<hr/>
		<p>{{project.Description}}</p>
		<hr/>
		<p><i class="fa fa-calendar"></i> Created on: {{project.CreatedDate | amDateFormat:'LL'}}</p>
		<p><i class="fa fa-calendar"></i> Updated on: {{project.UpdatedDate | amDateFormat:'LL'}}</p>
		<p><i class="fa fa-money"></i> Funding Goal: {{project.FundingGoal}} <i class="fa fa-euro"></i></p>
		<p><i class="fa fa-clock-o"></i> Funding End Date: {{project.FundingEndDate | amDateFormat:'LL'}}</p>
		<p><i class="fa fa-user"></i> Project Owner: <a [routerLink]="['/dashboard/users/view', project.OwnerId]">{{project.OwnerName}}</a></p>
		<p><i class="fa fa-list"></i> Project Category: {{project.ProjectCategoryDesc}}</p>
		<p>
			<i class="fa fa-code-fork"></i> Status: 
			<span *ngIf="project.Status == 'CRE'">
				 Under Funding
			</span>
			<span *ngIf="project.Status == 'COM'">
				 Completed
			</span>
			<span *ngIf="project.Status == 'FAI'">
				 Failed
			</span>
		</p>
	</div>
	<hr/>
</div>
