<div *ngIf="projectCommentFromServer" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Edit Project Comment
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Edit Project Comment
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

            <form name="form" (ngSubmit)="editProjectComment()" role="form" #editProjectCommentForm="ngForm" novalidate>

                <fieldset class="form-group" [ngClass]="{ 'has-error': editProjectCommentForm.submitted && !description.valid }">
                    <label for="description">Comment (*)</label>
                    <textarea class="form-control input-underline input-lg" 
                        name="description" id="description" placeholder="Enter your comment..."
                        required [(ngModel)]="projectCommentFromServer.Description" rows="6"
                        #description="ngModel"></textarea>
                    <div [hidden]="description.valid || description.pristine" class="error">
                        Comment text is required!
                    </div>
                </fieldset>
				
                <button *ngIf="!loading" class="btn btn-primary" type="submit" [disabled]= "!editProjectCommentForm.form.valid">Edit Project Comment</button>
				<button *ngIf="!loading" class="btn btn-secondary" (click)="deleteProjectComment()">Delete Project Comment</button>
				
                <span *ngIf="loading">
					<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Please wait...
				</span>
                
            </form>

        </div>
    </div>
    <br/><br/>
    <a [routerLink]="['/dashboard/projects/view', projectId]">Back to View Project</a>
    <!-- /.row -->
</div>