<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				User Profile Page
			</h2>
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0)" routerLink="/dashboard/home">Home</a>
				</li>
				<li class="active">
					<i class="fa fa-profile"></i> User Profile Page
				</li>
			</ol>
		</div>
	</div>
	<!--here we have the options for logedInAndMyself user-->
	<div class="row" *ngIf="isRequestorThisUser">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-edit"></i> <a [routerLink]="['/dashboard/users/edit', user.Id]">Edit Profile</a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard/projects/create']">Create New Project</a>
                </li>
            </ol>
        </div>
		<hr/>
    </div>

	<!-- /.row -->
	<div class="col-lg-12 card card-block" *ngIf="user">
		<div class="col-lg-9">
			<img [src]="user.AvatarImage" alt="AvatarImage">
			<h3>{{user.Name}}</h3>
			<p>Registered on: {{user.CreatedDateTime | amDateFormat:'LL'}}</p>
			<p>{{user.ShortBio}}</p>
		</div>
	</div>


	<div class="col-lg-12">
		<div class="card card-block" (click)="$event.preventDefault()">
			<tabset>
				<br/>
				
				<tab heading="Owned Projects">
					<div *ngFor="let project of createdProjects">
						<div class="col-lg-12 jumbotron card card-block">
							<h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
							<p>{{project.Description}}</p>
							<p>Funding Goal: {{project.FundingGoal}}</p>
							<p>Funding End Date: {{project.FundingEndDate | amDateFormat:'LL'}}</p>
							<p>Project Category: {{project.ProjectCategoryDesc}}</p>
						</div>
						<hr/>
					</div>
				</tab>

				<tab heading="Backed Projects">
					<div *ngFor="let project of backedProjects">
						<div class="col-lg-12 jumbotron card card-block">
							<h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
							<p>{{project.Description}}</p>
							<p>Created on: {{project.CreatedDate | amDateFormat:'LL'}}</p>
							<p>Funding Goal: {{project.FundingGoal}}</p>
							<p>Funding End Date: {{project.FundingEndDate | amDateFormat:'LL'}}</p>
							<p>Project Category: {{project.ProjectCategoryDesc}}</p>
						</div>
						<hr/>
					</div>
				</tab>
				
			</tabset>
		</div>
	</div>

</div>