<div *ngIf="createdProjects" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                My Projects
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home"> <i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-profile"></i> My Projects
                </li>
            </ol>
        </div>
    </div>
    <div *ngFor="let project of createdProjects">
        <div class="col-lg-12 jumbotron card card-block">
            <h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
            <div class="col-lg-6 list-project-desc">
		<img  *ngIf="project.MainPhoto" src="{{project.MainPhoto}}" alt="Card image cap" />
		<p>{{project.Description}}</p>
		</div>
            <p><i class="fa fa-calendar"></i> Created on: {{project.CreatedDate | date:'medium'}}</p>
            <p><i class="fa fa-calendar"></i> Updated on: {{project.UpdatedDate | date:'medium'}}</p>
            <p><i class="fa fa-money"></i> Funding Goal: {{project.FundingGoal}} <i class="fa fa-euro"></i></p>
            <p><i class="fa fa-clock-o"></i> Funding End Date: {{project.FundingEndDate | date:'medium'}}</p>
            <p><i class="fa fa-list"></i> Project Category: {{project.ProjectCategoryDesc}}</p>
            <p>
                <i class="fa fa-code-fork"></i> Status:
                <span *ngIf="project.Status == 'CRE'">
					Under Funding
				</span>
                <span *ngIf="project.Status == 'COM'">
					Completed
				</span>
                <span *ngIf="project.Status == 'FAI'">
					Failed
				</span>
            </p>
        </div>
        <hr/>
    </div>
    <span *ngIf="createdProjects && createdProjects.length == 0">
		<div class="alert alert-info">
			I am sorry. No projects for you here.
		</div>
	</span>
</div>