<div *ngIf="user" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Edit User Profile
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Edit User Profile
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" *ngIf="isRequestorThisUser">
        <div class="col-lg-12">

            <form name="form" (ngSubmit)="editUser()" role="form" #editUserForm="ngForm" novalidate>
                
                <!--avatar image preview-->
                <img [src]="user.AvatarImage" alt="AvatarImage" style="max-width: 500px; max-height: 500px; display: block; margin-left: auto; margin-right: auto;">
                <!--avatar image url input-->
                <fieldset class="form-group" [ngClass]="{ 'has-error': editUserForm.submitted && !avatar.valid }">
                    <label for="avatar">Avatar Image</label>
                    <input type="text" class="form-control input-underline input-lg" 
                        name="avatar" id="avatar" placeholder="Enter your Avatar Image URL..."
                        required [(ngModel)]="user.AvatarImage"
                        #avatar="ngModel">
                </fieldset>
                <!--name input-->
                <fieldset class="form-group" [ngClass]="{ 'has-error': editUserForm.submitted && !name.valid }">
                    <label for="name">Name (*)</label>
                    <input type="text" class="form-control input-underline input-lg" 
                        name="name" id="name" placeholder="Enter your real name..."
                        required [(ngModel)]="user.Name"
                        #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="error">
                        Name is required!
                    </div>
                </fieldset>
                <!--short bio input -->
                <fieldset class="form-group" [ngClass]="{ 'has-error': editUserForm.submitted && !shortBio.valid }">
                    <label for="shortBio">Short Bio</label>
                    <textarea class="form-control input-underline input-lg" 
                        name="shortBio" id="shortBio" placeholder="Enter your Short Bio..."
                        required [(ngModel)]="user.ShortBio" rows="6"
                        #shortBio="ngModel"></textarea>               
                </fieldset>
                <!--loading-->
                <button *ngIf="!loading" class="btn btn-primary" type="submit" [disabled]= "!editUserForm.form.valid">Save</button>
				<span *ngIf="loading">
					<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Saving changes...
				</span>
            </form>

        </div>
    </div>
    <br/><br/>
    <a [routerLink]="['/dashboard/users/view', user.Id]">Back to my profile</a>
    <!-- /.row -->
</div>