<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				User Search Page
			</h2>
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0)" routerLink="/dashboard/home"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
				</li>
				<li class="active">
					<i class="fa fa-search"></i> User Search Page
				</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card card-block" (click)="$event.preventDefault()">
				<tabset>
					<br/>
					<tab heading="Search by Name">
						<div class="form-group">
							<input type="text" class="form-control input-underline input-lg" name="searchTerm" id="searchTerm" placeholder="Enter Name to search User..."
								(keyup)="searchByName(searchTerm.value)" #searchTerm />
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
	<span *ngIf="users && users.length > 0">
		<!--<div *ngFor="let user of users">-->
		<div class="col-lg-3 jumbotron card card-block user-list" *ngFor="let user of users">
			<h3><a [routerLink]="['/dashboard/users/view', user.Id]">{{user.Name}}</a></h3>
			<hr/>
			
			<img [src]="user.AvatarImage" alt="AvatarImage" style="max-width: 150px; height: 150px; display: block;">
			<br/>
			<p><i class="fa fa-registered"></i> Registered on: {{user.CreatedDateTime | date:'medium'}}</p>
		<!--</div>-->
		<!--<hr/>-->
	</div>
	</span>
	<span *ngIf="users && users.length == 0">
		<div class="alert alert-info">
			I am sorry. No users were found to match your search criteria.
		</div>
	</span>
</div>