<div *ngIf="user" class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<!--<h2 class="page-header">
				User Profile Page
			</h2>-->
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0)" routerLink="/dashboard/home"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
				</li>
				<li class="active">
					<i class="fa fa-profile"></i> User Profile Page
				</li>
			</ol>
		</div>
		<div class="col-lg-4">
		</div>
		<div class="row" *ngIf="isRequestorThisUser">
        <div class="col-lg-4">
            <ol class="breadcrumb editProfile">
                <li>
                    <i class="fa fa-edit"></i> <a [routerLink]="['/dashboard/users/edit', user.Id]">Edit Profile</a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard/projects/create']">Create New Project</a>
                </li>
            </ol>
        </div>
		<hr/>
    </div>
	</div>
	<!--here we have the options for logedInAndMyself user-->

	<!-- /.row -->
	<div class="col-lg-12 card card-block bio" *ngIf="user">
		<div class="col-lg-12">
			<img [src]="user.AvatarImage" alt="AvatarImage" style="border-radius: 50%; width: 150px; display: block; margin-left: auto; margin-right: auto;">
			<br/>
			<h3>{{user.Name}}</h3>
			<p><i class="fa fa-registered"></i> Registered on: {{user.CreatedDateTime | date:'medium'}}</p>
			<span *ngIf="user.ShortBio"><p><i class="fa fa-comment-o"></i> {{user.ShortBio}}</p></span>
		</div>
	</div>


	<div class="row" *ngIf="(createdProjects && createdProjects.length > 0) || (backedProjects && backedProjects.length > 0)">
		<div class="col-lg-12">
			<div class="card card-block" (click)="$event.preventDefault()">
				<tabset>
					<br/>
					
					<tab heading="Owned Projects" *ngIf="createdProjects && createdProjects.length > 0">
						<div *ngFor="let project of createdProjects">
							<div class="jumbotron project-details">
								<div class="col-lg-6">
								<h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
								<p>{{project.Description}}</p>
								</div>
								<div class="col-lg-6">
								<p><i class="fa fa-money"></i> Funding Goal: {{project.FundingGoal}}<i class="fa fa-euro"></i></p>
								<p><i class="fa fa-clock-o"></i> Funding End Date: {{project.FundingEndDate | date:'medium'}}</p>
								<p><i class="fa fa-list"></i> Project Category: {{project.ProjectCategoryDesc}}</p>
								</div>
							</div>
							<hr/>
						</div>
					</tab>
	
					<tab heading="Backed Projects" *ngIf="backedProjects && backedProjects.length > 0">
						<div *ngFor="let project of backedProjects">
							<div class="jumbotron project-details">
								<div class="col-lg-6">
								<h3><a [routerLink]="['/dashboard/projects/view', project.Id]">{{project.Title}}</a></h3>
								<p>{{project.Description}}</p>
								</div>
								<div class="col-lg-6">
								<p><i class="fa fa-user"></i> Project Owner: <a [routerLink]="['/dashboard/users/view', project.OwnerId]">{{project.OwnerName}}</a></p>
								<p><i class="fa fa-clock-o"></i> Created on: {{project.CreatedDate | date:'medium'}}</p>
								<p><i class="fa fa-money"></i> Funding Goal: {{project.FundingGoal}}<i class="fa fa-euro"></i></p>
								<p><i class="fa fa-clock-o"></i> Funding End Date: {{project.FundingEndDate | date:'medium'}}</p>
								<p><i class="fa fa-list"></i> Project Category: {{project.ProjectCategoryDesc}}</p>
								</div>
							</div>
							<hr/>
						</div>
					</tab>
					
				</tabset>
			</div>
		</div>
	</div>
</div>