<div class="container-fluid">
	<div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Chat Page
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-comment"></i> Chat Page
                </li>
            </ol>
        </div>
    </div>
	
	<div class="row">
		<div class="col-lg-12">
			<ul class="jumbotron">
				<li *ngFor="let chatMessage of allMessages" style="list-style: none;">
					{{chatMessage.Sent | date:"dd.MM.y" }} <a [routerLink]="['/dashboard/users/view', chatMessage.FromId]">{{chatMessage.FromName}}</a>: {{chatMessage.Message}}
				</li>
				<hr/>
			</ul>
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="message">Message</label>
				<input type="text" class="form-control" id="message" placeholder="Message"
					#currentMessage name="message" placeholder="Enter your message...">
			</div>
			<button (click)="sendMessage(currentMessage.value)" class="btn btn-default" [disabled]="!canSendMessage">Send</button>
		</div>
	</div>
</div>