<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/prof.png" width="150px" class="user-avatar" />
			<h1>Your Profile</h1>


			<label class="Name">Archontellis Rafael Sotirchellis</label>

			<label class="bio">Μία οδοιπορία δις αναγνώστη εις θεωρώντας. Κι καθηγητής τι καταλήξει ου μπρούμυτα κατέγραψε. Αργότερα εδώ επέκταση διαθέτει υπάρχουν ένα ότι στο. Μαγικού για περάσει απόδοση όλο αφήγηση κλπ μου. Τέχνη κύρια τύπου τι ατ αγαθό. Δική γι εκεί πα γιου πάει. Να μολονότι ας τα οδηγήσει ευέλικτη ποσότητα επιμονής. </label>


			<br/><br/><br/>

			<a class="btn rounded-btn" routerLink="/userProfile" (click)="clicktest()" > Edit your profile </a>
			

		</div>
	</div>
</div>