<div *ngIf="currentUserProjectComments && currentUserProjectComments.length > 0" class="chat-panel card card-default">
    <div class="card-header">
        <i class="fa fa-comments fa-fw"></i>
        My Created Projects Comments
    </div>
    <!-- /.panel-heading -->
    <div class="card-block">
      <ul class="chat">
        <li *ngFor="let comment of currentUserProjectComments; let i = index"
            [ngClass]="{'left': i % 2 == 0, 'right': i % 2 == 1, 'clearfix': true}"
            >
          <!--<span class="chat-img pull-left">
              <img src={{comment.AvatarImage}} alt="User Avatar" class="img-circle">
          </span>-->
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">
                <a [routerLink]="['/dashboard/users/view', comment.UserId]">
                  {{comment.Name}}
                </a>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a [routerLink]="['/dashboard/projects/view', comment.ProjectId]">
                  {{comment.ProjectTitle}}
                </a>
              </strong>
              <small class="pull-right text-muted">
                <i class="fa fa-clock-o fa-fw"></i> {{comment.WhenDateTime | date:'medium'}}
              </small>
            </div>
            <p>
              {{comment.Description}}
            </p>
          </div>
        </li>
    </ul>
  </div>
</div>
