<div *ngIf="slides && projectsToNotify" class="container-fluid">
    <h2 class="text-muted">Trending <small>Projects</small></h2>
    <div class="row">
        <div class="col-md-12">
            <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
                <slide *ngFor="let slidez of slides;let index=index" [active]="slidez.active">
                    <img [src]="slidez.image">
                    <div class="carousel-caption">
                        <h4>{{slidez.title}}</h4>
                        <p>{{slidez.description}}</p>
                    </div>
                </slide>
                <i class="fa fa-chevron-left left carousel-control"></i>
                <i class="fa fa-chevron-right right carousel-control"></i>
            </carousel>

        </div>
    </div>
    <hr>
    <div class="row" *ngIf="currentUser && projectsToNotify && projectsToNotify.length > 0">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> My Completed Backed Projects
                </div>
                <notifications-cmp [projects]="projectsToNotify"></notifications-cmp>
            </div>
        </div>
        <hr/>
        <br>
    </div>

    <div class="row">
        <!--///////////////////////-->
        <div *ngIf="currentUser" class="col-xl-6 col-lg-6">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div>My Projects</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-default">
                    <a [routerLink]="['/dashboard/users/myProjects/', currentUser.Id]">
                        <span class="pull-xs-left">Go!</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <!--///////////////////////////-->
        <div *ngIf="currentUser" class="col-xl-6 col-lg-6">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div>Create New Project</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-default">
                    <a [routerLink]="['/dashboard/projects/create']">
                        <span class="pull-xs-left">Go!</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <!--///////////////////////////-->

    </div>
    <hr/>
    <div *ngIf="currentUser">
        <div class="col-lg-12">
            <span class="col-lg-7">
                <updatesTimeline-cmp></updatesTimeline-cmp>
            </span>
            <span class="col-lg-5">
                <chat-cmp></chat-cmp>
            </span>
        </div>
    </div>
    <!--///////////////////////////-->
    <div *ngIf="!currentUser">
        <div class="col-lg-12">
            <span class="col-lg-7">
                        <lastUsersTimeline-cmp></lastUsersTimeline-cmp>
            </span>

        </div>
    </div>
</div>