<div *ngIf="currentUserFundedProjectUpdates && currentUserFundedProjectUpdates.length > 0" class="card card-default">
  <div class="card-header">
    <i class="fa fa-clock-o fa-fw"></i> My Funded Projects Updates
  </div>

  <div class="card-block">
    <ul class="timeline">
      <li *ngFor="let update of currentUserFundedProjectUpdates; let i = index" [ngClass]="{'': i % 2 == 0, 'timeline-inverted': i % 2 == 1}">
        <!--<div class="timeline-badge">
          <i class="fa fa-check"></i>
        </div>-->
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"><a [routerLink]="['/dashboard/projects/view/', update.ProjectId]">
                  {{update.Title}}
                </a></h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{update.WhenDateTime | amDateFormat:'LL'}}</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>{{update.Description}}</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>