<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
			<h1>CrowdVoice Login</h1>
			
			<form name="form" (ngSubmit)="loginUser()" role="form" #loginUserForm="ngForm" novalidate>
				<div class="form-content">
					
					<div class="form-group" [ngClass]="{ 'has-error': loginUserForm.submitted && !username.valid }">
						<label for="username">EMAIL</label>
						<input type="text" class="form-control input-underline input-lg" 
							name="username" id="username" placeholder="Enter your email address..."
							required [(ngModel)]="user.username"
							#username="ngModel">
						<div [hidden]="username.valid || username.pristine" class="error help-block">
							Email is required my good sir/lady!
						</div>
					</div>

					<div class="form-group" [ngClass]="{ 'has-error': loginUserForm.submitted && !password.valid }">
						<label for="password">PASSWORD</label>
						<input type="password" class="form-control input-underline input-lg" 
							name="password" id="password" placeholder="Enter your desired password..."
							required [(ngModel)]="user.password"
							#password="ngModel">
						<div [hidden]="password.valid || password.pristine" class="error help-block">
							Password is required my good sir/lady!
						</div>
					</div>
					
				</div>
				
				<button *ngIf="!loading"  class="btn btn-primary" type="submit" [disabled]= "!loginUserForm.form.valid"><i class="fa fa-sign-in"></i> Login</button>
				<span *ngIf="loading">
					<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Signing you in...
				</span>
				
				<br/><br/>
				
				<alert></alert>
				
				<br/>
				
				<a class="btn btn-primary" routerLink="/signup"><i class="fa fa-user-plus"></i> Not a user? Go to register page </a>
				
				<br/><br/>
				
				<a routerLink="/dashboard/home"><i class="fa fa-sign-in"></i> Continue as Guest </a>
			</form>
		</div>	
	</div>
</div>